<!DOCTYPE html>
<html data-theme="cupcake">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= data.plantName %> - Plant Details</title>
        <link rel="stylesheet" href="/css/output.css" />
        <script>
            loggedInUser = "<%= username %>";
            plantID = "<%= data._id %>";
            plantOwner = "<%= data.nickname %>";
        </script>
    </head>
    <body>
        <div class="flex flex-col h-screen w-full lg:flex-row">
            <!-- Plant Details Section -->
            <div class="lg:w-1/2 h-full mx-5 py-5 overflow-y-auto">
                <%- include('./detailsComponent.ejs', { data: data}) %>
            </div>

            <!-- Chat Section -->
            <div class="lg:w-1/2 h-full mx-5 py-5">
                <%- include('./chat.ejs', { data: data, userName: username }) %>
            </div>
        </div>
            <%- include('../components/onlineOfflineMode.ejs') %>
    </body>
</html>