<!DOCTYPE html>
<html data-theme="cupcake">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= data.plantName %> - Plant Details</title>
        <link rel="stylesheet" href="/css/outputStyles.css" />
        <link rel="manifest" href="/manifest.json"/>
        <script>
            loggedInUser = "<%= username %>";
            plantId = "<%= data._id %>";
            plantOwner = "<%= data.nickname %>";
        </script>
    </head>
    <body>
        <div class="flex flex-col h-screen w-full lg:flex-row gap-4 p-4">
            <!-- Plant Details Section -->
            <div class="lg:w-1/2 h-full bg-white rounded-lg shadow-lg border border-gray-200">
                <div class="h-full overflow-y-auto">
                    <%- include('./plantDetailsComponent.ejs', { data: data}) %>
                </div>
            </div>

            <!-- Chat Section -->
            <div class="lg:w-1/2 h-full bg-white rounded-lg shadow-lg border border-gray-200">
                <div class="flex flex-col h-full">
                    <%- include('../chat/chat.ejs', { data: data, userName: username }) %>
                </div>
            </div>
        </div>
        
        <%- include('../components/onlineOfflineMode.ejs') %>
    </body>
</html>